
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

.root {
    --primary-color : #700b35;
    --primary-pink: #F9A8D4;
}

body {
    background-color: #F9A8D4;
    margin: 0px;
    font-family: 'Stick No Bills', sans-serif;
}

.header {
    text-align: center;
    color: rgb(117, 6, 62);
    background-color: #F472B6;
    padding: 1rem 1rem;
    border-radius: 2rem;
}

label {
    font-weight: bold;
    color: rgb(148, 3, 92);
}

#date-of-birth {
    margin-bottom: 2rem;
}

.container {
    width: 50%;
   margin: auto;
   padding: 2rem;
}

input, label {
    display: block;
}

#check-btn {
    border-color:rgb(117, 6, 62);
    color: rgb(148, 3, 92);
    font-weight: bold;
    display:block;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: rgb(240, 147, 204);
}

input {
    border-color: rgb(148, 3, 92);
    border-radius: 0.3rem;
}

#output {
    font-weight: bold;
    margin-top: 1rem;
    color: rgb(153, 8, 97);
}